<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Webpage Analyzer</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="index.css" rel="stylesheet" type="text/css">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code&display=swap" rel="stylesheet">

    <!-- scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="index.js"></script>

  </head>
  <body class="bg-dark text-white">
    <div class="container">
      <div class="top text-center">
        <h3>Enter one or more webpages you want to analyze!</h3>
        <div id ="input_container_0" class="input-container text-center">
          <input type="text" class="form-control mb-2" id="url_0" placeholder="e.g. https://www.nytimes.com/">
        </div>
        <button id="plus" class="btn btn-info btn-lg" onclick="plusButton()">+</button>
        <button id="minus" class="btn btn-info btn-lg" onclick="minusButton()">-</button>
      </div>

      <div class="bottom card w-75 mx-auto mt-3 text-center text-dark">
        <button href="#" id="submit" class="btn btn-info btn-lg w-50 mx-auto">SUBMIT</button>
  	  	<p class="description">This application will take in your chosen website and analyze the content of the page. This includes, but is not limited to, metadata about your chosen site,
          (how the content is shown, percentages) as well as specific analysis of the text!
  	  	</p>
  	  </div>
    </div>


    <footer class="text-center"><span>Developed by: AJ Jones, Andrew Pickner, Fengyuan Zhang, Jake Henson, and Yuxi Liu for CSCI 3308, &#9400; 2019. <i>All rights reserved.</i></span></footer>
  </body>
</html>
